# Node modules
node_modules/

# Build output
/dist
/build
/.vite

# Vite cache
.vite/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*.local

# TypeScript cache
*.tsbuildinfo

# IDE or editor directories
.vscode/
.idea/

# Temporary files
*.swp
*~
